@model IEnumerable<BookDto>
@inject IViewLocalizer L

@{
    ViewData["Title"] = L["Home"];
}

<h2 class="mb-4">@L["BooksHeading"]</h2>

@if (ViewBag.message != null)
{
    <h5 style="font-style:italic">@ViewBag.message</h5>
}

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
    @foreach (var book in Model)
    {

        <div class="col">
            <partial name="_BookCardPartialView" model="@book"/>
        </div>
    }
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
